body {
    font-family: 'Arial', sans-serif;
    background-color: #464646;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 600px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #cfcfcf;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #929292;
    padding: 8px;
    color: #c0c0c0
}

th {
    background-color: #616161;
}

.input-container {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    background-color: #c0c0c0
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #59d460;
}

.error-msg {
    color: #ff0000;
    display: none;
    margin-top: 10px;
}

.allele-display {
    margin-top: 20px;
}

.result-tables {
    margin-top: 20px;
}
p {
color: #c0c0c0
}

#genTable, #genTable  th{
 background-color: #722599 !important;
}

#phnTable, #phnTable  th {
    background-color: darkgreen !important;
}

